<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,245}</string>
                <key>spriteSourceSize</key>
                <string>{447,245}</string>
                <key>textureRect</key>
                <string>{{1,1},{447,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,245}</string>
                <key>spriteSourceSize</key>
                <string>{447,245}</string>
                <key>textureRect</key>
                <string>{{450,1},{447,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,245}</string>
                <key>spriteSourceSize</key>
                <string>{447,245}</string>
                <key>textureRect</key>
                <string>{{1,248},{447,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,245}</string>
                <key>spriteSourceSize</key>
                <string>{447,245}</string>
                <key>textureRect</key>
                <string>{{450,248},{447,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,245}</string>
                <key>spriteSourceSize</key>
                <string>{447,245}</string>
                <key>textureRect</key>
                <string>{{1,495},{447,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,245}</string>
                <key>spriteSourceSize</key>
                <string>{447,245}</string>
                <key>textureRect</key>
                <string>{{450,495},{447,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,245}</string>
                <key>spriteSourceSize</key>
                <string>{447,245}</string>
                <key>textureRect</key>
                <string>{{1,742},{447,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,245}</string>
                <key>spriteSourceSize</key>
                <string>{447,245}</string>
                <key>textureRect</key>
                <string>{{450,742},{447,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,245}</string>
                <key>spriteSourceSize</key>
                <string>{447,245}</string>
                <key>textureRect</key>
                <string>{{1,989},{447,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,245}</string>
                <key>spriteSourceSize</key>
                <string>{447,245}</string>
                <key>textureRect</key>
                <string>{{450,989},{447,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,245}</string>
                <key>spriteSourceSize</key>
                <string>{447,245}</string>
                <key>textureRect</key>
                <string>{{1,1236},{447,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,245}</string>
                <key>spriteSourceSize</key>
                <string>{447,245}</string>
                <key>textureRect</key>
                <string>{{450,1236},{447,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>飞羽图集.png</string>
            <key>size</key>
            <string>{898,1482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5f8b1ecd357dcd07c1f245d31b8e22f:7e2c09351d5c075b83f749a3503c1ddf:40bfcce115e347d543077c68665a51ac$</string>
            <key>textureFileName</key>
            <string>飞羽图集.png</string>
        </dict>
    </dict>
</plist>
